.backborder {
    background-color: rgb(149, 197, 183);
    position: absolute;
    width: 100%;
    height: 100%;
}

.titleBar {
    background-color: rgb(172, 128, 33)
}

/* .form-control {
    width: 50%;
} */

.textbar {
    width: 50%
}

.centerbody {
    float: none;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(159, 159, 184);
    width: 80%;
    height: 100%
}