<div class="centerbody" class="col-xs-1" align="center">
    <div>
        <input class="form-control" class="textbar" ng-model="$ctrl.searchQuery"  type="text" placeholder="Name or ID"/>
        <button ng-click="$ctrl.addPlayer()" class="btn">Add</button>
        <button ng-click="$ctrl.removePlayer()" class"btn">Remove</button>
        <!-- <select-person></select-person> -->
            <div class="row">
        </div>
        <div>
            <event-list logs='$ctrl.logs'></event-list>
        </div>

    </div>
</div>